<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007936869171-3ias18tup9lp7mo4fii35j9qfgn7lhj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007936869171-3ias18tup9lp7mo4fii35j9qfgn7lhj2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007936869171-0oe6ilno8551ap5eoblgk72as8rlvq6o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDb5UZvGHp9U2SpK8_cXmfZBSxVWKiuF8c</string>
	<key>GCM_SENDER_ID</key>
	<string>1007936869171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishexpo2.fastRide</string>
	<key>PROJECT_ID</key>
	<string>fastride-d8206</string>
	<key>STORAGE_BUCKET</key>
	<string>fastride-d8206.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007936869171:ios:d83cc57ff4591cf367a446</string>
</dict>
</plist>